{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="center_box">
            <div class="container">
                <div class="col-md-4 nopade">
                    <div class="title">Документы</div>
                    <ul class="list_news">
                        {% for download in documents %}
                            <li><div class="list_title">{{ download.title }}</div><a href="#">{{ download.body }}</a></li>
                        {% endfor %}
                    </div>
                    <div class="col-md-8 column nopaderight">
                        <div class="anons_box">
                            <div class="clearfix"></div>
                            <div class="anons">
                                <div class="title">Отправить обращение</div>
                                <ul class="col-md-6">
                                    <form method="POST" action="">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="inputAuthor">Full Name</label>
                                            <input type="text" name="full_name" class="form-control" id="inputFullName" placeholder="Write your full name">
                                          </div>
                                        <div class="form-group">
                                          <label for="inputTitle">Title</label>
                                          <input type="text" name="title" class="form-control" id="inputTitle" placeholder="Write the title of your question!">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputMessage">Appeal</label>
                                            <textarea id="inputMessage" name="message" rows="4" class="form-control" maxlength="200" placeholder="Write your appeal..."></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </form>
                                </ul>
                            <div class="clearfix"></div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        
{% endblock content %}