{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{% static 'blogs/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'blogs/css/jquery-ui.css' %}" rel="stylesheet">
	<link href="{% static 'blogs/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'blogs/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'blogs/css/media.css' %}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div class="head">
            <div class="bg_img"><img src="{% static 'blogs/img/bg_map.jpg' %}"></div>
            <div class="container relative">
                <form action="{% url 'set_language' %}" method="post" id="language_form">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <ul class="lang">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang_code, lang_name in LANGUAGES %}
                            <li class="{% if lang_code == LANGUAGE_CODE %}active{% endif %}">
                                <a href="#" onclick="event.preventDefault(); document.getElementById('language_form_language').value='{{ lang_code }}'; document.getElementById('language_form').submit();">
                                    {% if lang_code == 'uz' %}O'zb{% elif lang_code == 'ru' %}Рус{% elif lang_code == 'en' %}Eng{% else %}{{ lang_name }}{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="language" id="language_form_language">
                </form>
                <div class="ways">
                    <form action="#" method="get" class="form_search relative">
                        <input type="text" class="searchBox" name="" placeholder="{% trans 'Поиск по сайту...' %}">
                        <button class="searchBtn" type="submit"><i class=""></i></button>
                    </form>
                    <div class="special_link">
                        <a href="#" class="icon_accessibility dataTooltip" data-toggle="dropdown" data-placement="bottom" title="{% trans 'Особые возможности'%}" aria-expanded="true">{% trans 'Версия для слабовидящих'%}<img src="{% static 'blogs/img/eye.png' %}"></a>
                        <div class="dropdown-menu dropdown-menu-right specialViewArea no-propagation">
                            <div class="triangle2"></div>

                            <div class="appearance">
                                <p class="specialTitle">{% trans 'Зрение'%}</p>

                                <div class="squareAppearances">
                                    <div class="squareBox spcNormal" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Обычный вид' %}">A</div>
                                </div>
                                <div class="squareAppearances">
                                    <div class="squareBox spcWhiteAndBlack" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Черно-белый вид' %}">A</div>
                                </div>
                                <div class="squareAppearances">
                                    <div class="squareBox spcDark" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Затемненный вид' %}">A</div>
                                </div>
                            </div>

                            <div class="appearance">
                                <p class="specialTitle">{% trans 'Размер шрифта' %}</p>

                                <div class="block">
                                    <div class="sliderText"><span class="range"></span>{% trans '% масштаб' %}</div>
                                    <div id="fontSizer" class="defaultSlider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 0%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span></div>
                                </div>
                            </div>

                            <div class="more_margin"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3  col-xs-2 relative nopaderight">
                    <div class="left_blog">
                        <a href="#"><img src="{% static 'blogs/img/gerb.png' %}"></a>
                        
                        <a href="https://mehnat.uz/ru" class="left_blog_text">{% blocktrans %}Министерство труда
                            и социальной защиты населения
                            Рecпублики Узбекистан{% endblocktrans %}
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <div id="fgdf" class="centre">
                        <a class="logo_name" href="{% url 'home' %}">www.fbm.uz</a>
                        <div class="logo_text">{% blocktrans %}Реализация страновой программы достойного
                            труда в Республике Узбекистан{% endblocktrans %}</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-2 nopadeleft">
                    <div class="right_blog">
                        <a href="https://kasaba.uz/ru/"><img src="{% static 'blogs/img/map_uz.png' %}"></a>
                        <a href="https://kasaba.uz/ru/" class="right_blog_text">{% blocktrans %}Портал Федерации
                            Профсоюзов Узбекистана{% endblocktrans %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="head_menu">
            <div class="menu_bg">
                <div class="container nopade">
                    <div class="menu">
                        <nav class="navbar">
                            <div class="container-fluid nopade">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse nopade" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        {% for menu in menus %}
                                            {% if menu.items.all %}
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menu.name }} <span class="caret"></span></a>
                                                    <ul class="dropdown-menu">
                                                        {% for child in menu.items.all %}
                                                            <li><a href="{{ child.url }}">{{ child.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li><a href="{{ menu.url }}">{{ menu.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="head_slider">
            <div class="container nopade relative">
                <div class="position_slide relative">
                    <div id="carouselx" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            {% for slider in sliders %}
                            <div class="item {% if forloop.first %}active{% endif %}">
                                <div class="img_slide">
                                    {% if slider.image %}
                                        <img src="{{ slider.image.url }}" alt="{{ slider.title }}">
                                    {% else %}
                                        <img src="{% static 'path/to/placeholder_image.png' %}" alt="Default image">
                                    {% endif %}
                                    <div class="img_text">
                                        <span>{{ slider.title }}</span>
                                    </div>
                                </div>
                                <div class="slide_text">
                                    <div class="table_sl_text">
                                        {{ slider.body|safe }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Controls for carousel -->
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <div class="controllers">
                            <a class="carousel-control" href="#carouselx" role="button" data-slide="prev"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
                            <a class="carousel-control" href="#carouselx" role="button" data-slide="next"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% block content %}

{% endblock content %}


<div class="footer">
    <div class="container relative">
        <div class="map_uz">
            <div class="centre">
                <a class="logo_name" href="{% url 'home' %}">www.fbm.uz</a>
                <div class="logo_text">{% blocktrans %}Реализация страновой программы достойного
                    труда в Республике Узбекистан{% endblocktrans %}</div>
            </div>
        </div>
        <div class="footer_text">
            <div class="footer_name">{% blocktrans %}Сайт создан Министерством труда и социальной защиты населения Рecпублики Узбекистан совместно с Порталом Федерации Профсоюзов Узбекистана{% endblocktrans %}</div>
            <div>{% blocktrans %}© 2015 Все права защищены{% endblocktrans %}</div>
            <p>
                {% blocktrans %}Разработка{% endblocktrans %}
                <a href="https://uzinfocom.uz/"><img src="{% static 'blogs/img/uzinfocom.png' %}"></a>
            </p>
        </div>
    </div>
</div>
</div>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/jqueryFake.js"></script>
<script src="js/respond.js"></script>
<script src="js/ie9.js"></script>
<![endif]-->

<script src="{% static 'blogs/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'blogs/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blogs/js/jquery.cookie.js' %}"></script>
<script src="{% static 'blogs/js/jquery-ui.js' %}"></script>
<script src="{% static 'blogs/js/mousetrap.min.js' %}"></script>
<script src="{% static 'blogs/js/specialView.js' %}"></script>
<script src="{% static 'blogs/js/main.js' %}"></script>
</body>
</html>