{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="center_box">
            <div class="container">
                <div class="col-md-4 nopade">
                    <div class="title">Документы</div>
                    <ul class="list_news">
                        <li><div class="list_title">ПОСТАНОВЛЕНИЕ</div><a href="#">Об утверждении Положения о требованиях по недопущению использования труда несовершеннолетних</a></li>
                        <li><div class="list_title">КОНВЕНЦИЯ</div><a href="#">Конвенция о минимальном возрасте для приема на работу</a></li>
                        <li><div class="list_title">КОНВЕНЦИЯ</div><a href="#">Конвенция об упразднении принудительного труда</a></li>
                        <li><div class="list_title">КОНВЕНЦИЯ</div><a href="#">Конвенция об упразднении принудительного труда</a></li>
                    </ul>
                    <div class="call_box">
                        <div class="centre attention attention_border_bottom">Вы стали свидетелем или жертвойпринудительного труда?</div>
                        <div class="caller">
                            <div class="centre">
                                <div class="caller_text">Телефоны доверия</div>
                            </div>
                            <div class="text">
                                <span>1092</span>
                                Совет Федерации профсоюзов Узбекистана
                            </div>
                            <div class="text text_right">
                                <span>200 06 01</span>
                                Государственная правовая инспекция труда
                            </div>
                        </div>
                        <div class="centre attention attention_border_top">Незамедлительно сообщите!</div>
                    </div>
                </div>
                <div class="col-md-8 column nopaderight">
                    <div class="download_box">
                        <div class="title">Конвенции МОТ</div>
                            <ul class="download_list">
                                <li><img src="{% static 'blogs/img/paper2.png' %}" class="bg_list"><span>Конвенция о принудительном или обязательном труде</span><a href="#" class="view_list"><img src="{% static 'blogs/img/eye2.png' %}"></a><a href="#" class="view_list downloader"><img src="{% static 'blogs/img/download.png' %}"></a></li>
                                <li><img src="{% static 'blogs/img/paper2.png' %}" class="bg_list"><span>Конвенция о принудительном или обязательном труде</span><a href="#" class="view_list"><img src="{% static 'blogs/img/eye2.png' %}"></a><a href="#" class="view_list downloader"><img src="{% static 'blogs/img/download.png' %}"></a></li>
                                <li><img src="{% static 'blogs/img/paper2.png' %}" class="bg_list"><span>Конвенция о принудительном или обязательном труде</span><a href="#" class="view_list"><img src="{% static 'blogs/img/eye2.png' %}"></a><a href="#" class="view_list downloader"><img src="{% static 'blogs/img/download.png' %}"></a></li>
                                <li><img src="{% static 'blogs/img/paper2.png' %}" class="bg_list"><span>Конвенция о принудительном или обязательном труде</span><a href="#" class="view_list"><img src="{% static 'blogs/img/eye2.png' %}"></a><a href="#" class="view_list downloader"><img src="{% static 'blogs/img/download.png' %}"></a></li>
                                <li><img src="{% static 'blogs/img/paper2.png' %}" class="bg_list"><span>Конвенция о принудительном или обязательном труде</span><a href="#" class="view_list"><img src="{% static 'blogs/img/eye2.png' %}"></a><a href="#" class="view_list downloader"><img src="{% static 'blogs/img/download.png' %}"></a></li>
                                <li><img src="{% static 'blogs/img/paper2.png' %}" class="bg_list"><span>Конвенция о принудительном или обязательном труде</span><a href="#" class="view_list"><img src="{% static 'blogs/img/eye2.png' %}"></a><a href="#" class="view_list downloader"><img src="{% static 'blogs/img/download.png' %}"></a></li>
                                <li><img src="{% static 'blogs/img/paper2.png' %}" class="bg_list"><span>Конвенция о принудительном или обязательном труде</span><a href="#" class="view_list"><img src="{% static 'blogs/img/eye2.png' %}"></a><a href="#" class="view_list downloader"><img src="{% static 'blogs/img/download.png' %}"></a></li>
                                <li><img src="{% static 'blogs/img/paper2.png' %}" class="bg_list"><span>Конвенция о принудительном или обязательном труде</span><a href="#" class="view_list"><img src="{% static 'blogs/img/eye2.png' %}"></a><a href="#" class="view_list downloader"><img src="{% static 'blogs/img/download.png' %}"></a></li>
                                <li><img src="{% static 'blogs/img/paper2.png' %}" class="bg_list"><span>Конвенция о принудительном или обязательном труде</span><a href="#" class="view_list"><img src="{% static 'blogs/img/eye2.png' %}"></a><a href="#" class="view_list downloader"><img src="{% static 'blogs/img/download.png' %}"></a></li>
                            </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        
{% endblock content %}