{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

        
    <div class="col-md-8 column nopaderight">
        <div class="col-md-6 nopade relative">
            <a href="{% url 'appeal_form' %}" class="green_box">
                <div class="table_link">
                    <span>{% trans 'Отправить обращение'%}</span>{% blocktrans %}Отправка заявлений, предложений и жалоб  в лектронном виде{% endblocktrans %}
                </div>
            </a>
        </div>
        <div class="col-md-6 nopade relative">
            <a href="{% url 'question_form' %}" class="blue_box">
                <div class="table_link">
                    <span>{% trans 'Задать вопрос'%}</span>{% blocktrans %}Задайте свой вопрос в сфере законодательства в режиме онлайн{% endblocktrans %}
                </div>
            </a>
        </div>
        <div class="download_box">
            <div class="title">{% trans 'Конвенции МОТ'%}</div>
            <ul class="download_list">
                {% for download in documents %}
                    <li>
                        <img src="{% static 'blogs/img/paper2.png' %}" class="bg_list">
                        <span>{{ download.body|safe }}</span>
                        <a href="{{ download.file.url }}" class="view_list" target="_blank">
                            <img src="{% static 'blogs/img/eye2.png' %}" alt="View PDF">
                        </a>
                        <a href="{% url 'download_file' download.id %}" class="view_list downloader">
                            <img src="{% static 'blogs/img/download.png' %}" alt="Download PDF">
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
        
{% endblock content %}